# Assignment: Basic Python

This assignment will verify that you have the following skills:

- Create lists and dictionaries

- Iterate through lists, tuples, and dictionaries

- Index sequences (e.g. lists and tuples)

- Define functions

- Use optional keyword arguments in functions

## **Part I: Lists and Loops**
### 1) Create a list with the names of every planet in the solar system (in order)

In [1]:
planets = [
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
]

### 2) Have Python tell you how many planets there are by examining your list

In [2]:
len(planets)

8

### 3) Use slicing to display the first four planets (the rocky planets)

In [3]:
planets[:4]

['Mercury', 'Venus', 'Earth', 'Mars']

### 4) Iterate through your planets and print the planet name only if it has an s at the end

In [4]:
for planet in planets:
    if "s" in planet[-1]:
        print(planet)

Venus
Mars
Uranus

## **Part II: Dictionaries**

### 1) Now create a dictionary that maps each planet name to its mass

             MERCURY 	 VENUS 	 EARTH 	 MOON 	 MARS 	 JUPITER 	 SATURN 	 URANUS 	 NEPTUNE 	 PLUTO 
Mass (1024kg)	0.330	4.87	5.97	0.073	0.642	1898	568	86.8	102	0.0130

In [5]:
mass = [0.330, 4.87, 5.97, 0.073, 0.642, 1898, 568, 86.8, 102]
planets_mass = dict(zip(planets, mass))

In [6]:
planet_dict = {planets[i]: mass[i] for i in range(len(planets))}
planet_dict

{'Mercury': 0.33,
 'Venus': 4.87,
 'Earth': 5.97,
 'Mars': 0.073,
 'Jupiter': 0.642,
 'Saturn': 1898,
 'Uranus': 568,
 'Neptune': 86.8}

### 2) Use your dictionary to look up Earth’s mass

In [7]:
print(f"The planet Earth Mass is {planet_dict['Earth']} 10^24 kg")

The planet Earth Mass is 5.97 10^24 kg

### 3) Loop through the data and create a list of planets whose mast is greater than 100 x 10^24 kg and Display your result

In [8]:
heavy_planets = []
for key, value in planet_dict.items():
    if value > 100:
        heavy_planets.append(key)
heavy_planets

['Saturn', 'Uranus']


### 4) Now add pluto to your dictionary

In [11]:
planet_dict["Pluto"] = 0.0130
planet_dict["Pluto"]

0.013

## Part III: Functions

### 1. Write a function to convert temperature from kelvin to celsius and celsius to kelvin

In [13]:
def celsius_to_kevin(t: float, unit: str) -> float:
    """Converts temperature from Kelvin to Celsius and Celsius to Kevin
    Input: t -> temperatura
    settings: unit -> string that defines if you want to convert from Kelvin or Celsius
    """
    if unit == "k" or unit == "Kelvin" or unit == "K":
        return t - 273
    elif unit == "c" or unit == "Celsius" or unit == "C":
        return t + 273


celsius_to_kevin(25, "c")

298


### 2. Write a function to convert temperature to fahrenheit Include an optional keyword argument to specify whether the input is in celcius or kelvin
Call your previously defined functions if necessary.

In [40]:
def to_fahrenheit(t: float, unit: str) -> float:
    """Converts temperature from Kelvin or Celsius to Fahrenheit
    Input: t -> temperatura
    settings: unit -> string that defines if you want to convert from Kelvin or Celsius
    """
    if unit == "k" or unit == "Kelvin" or unit == "K":
        return round((t - 273.15) * 1.8 + 32, 2)
    elif unit == "c" or unit == "Celsius" or unit == "C":
        return round((t * 1.8) + 32, 2)


### 3) Check that the outputs are sensible by trying a few examples

In [38]:
t = 25
fahrenheit(t, "c")

77.0

In [39]:
t = 299
fahrenheit(t, "k")

78.53


### 4) Now write a function that converts from farenheit and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [53]:
def from_fahrenheit(t: float, unit: str) -> float:
    """Converts temperature values in Kelvin or Celsius to Fahrenheit
    t -> Temperature (float)
    unit -> Target unit (string)"""

    if unit == "k" or unit == "Kelvin" or unit == "K":
        return round((t - 32) / 1.8 + 273.15, 2)
    elif unit == "c" or unit == "Celsius" or unit == "C":
        return round(((t - 32) / 1.8), 2)

In [54]:
t = 77
from_fahrenheit(t, "k")

298.15

### 5) Write a function that takes two arguments (feet and inches) and returns height in meters. 
Verify it gives sensible answers

In [57]:
def height_meters(feet, inches) -> float:
    meters = feet * 0.3048 + inches * 0.0254
    return meters


feet, inches = 65.6, 787
height_meters(feet, inches)

39.98468


### 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)
(Consult the tutorial on numbers if you are stuck on how to implement this.)

In [56]:
def feet_inches(height) -> float:
    feet = height / 0.3048
    inches = height / 0.0254
    return feet, inches


meters = 20
feet_inches(meters)

(65.61679790026247, 787.4015748031496)

 
### 7) Verify that the “round trip” conversion from and back to meters is consistent
Check for 3 different values of height in meters

In [61]:
height_meters(10, 10), feet_inches(3.302)

(3.302, (10.833333333333332, 130.0))