In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# 1) Use Pandas’ read_csv function directly on this URL to open it as a DataFrame
(Don’t use any special options). Display the first few rows and the DataFrame info.

You should have seen that the dates were not automatically parsed into datetime types.

In [9]:
data_url = "http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv"
df = pd.read_csv(data_url)
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120108 entries, 0 to 120107
Data columns (total 15 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   time       120108 non-null  object
 1   latitude   120108 non-null  float64
 2   longitude  120108 non-null  float64
 3   depth      120107 non-null  float64
 4   mag        120065 non-null  float64
 5   magType    120065 non-null  object
 6   nst        59688 non-null   float64
 7   gap        94935 non-null   float64
 8   dmin       85682 non-null   float64
 9   rms        119716 non-null  float64
 10  net        120108 non-null  object
 11  id         120108 non-null  object
 12  updated    120108 non-null  object
 13  place      120108 non-null  object
 14  type       120108 non-null  object
dtypes: float64(8), object(7)
memory usage: 13.7+ MB

# 2) Re-read the data in such a way that all date columns are identified as dates and the earthquake ID is used as the index
Verify that this worked using the head and info functions.

In [13]:
df = pd.read_csv(data_url, parse_dates=[1], index_col="id")
df.head()

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_31380\1808918233.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(data_url,parse_dates=[1],index_col='id')

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type
id,,,,,,,,,,,,,,
ak11155107,2014-01-31 23:53:37.000,60.251999999999995,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
nn00436847,2014-01-31 23:48:35.452,37.0703,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
ak11151142,2014-01-31 23:47:24.000,64.6717,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
ak11151135,2014-01-31 23:30:54.000,63.1887,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
ci37171541,2014-01-31 23:30:52.210,32.616833299999996,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake

# 3) Use describe to get the basic statistics of all the columns
Note the highest and lowest magnitude of earthquakes in the databse.

In [14]:
df.describe()

,longitude,depth,mag,nst,gap,dmin,rms
count,120108.000000,120107.000000,120065.000000,59688.000000,94935.000000,85682.000000,119716.000000
mean,-99.961402,28.375029,1.793958,17.878284,124.048978,0.893198,0.358174
std,82.996858,62.215416,1.343466,14.911369,68.518595,2.903966,0.364046
min,-179.998900,-9.900000,-0.970000,0.000000,9.000000,0.000000,0.000000
25%,-147.742025,4.100000,0.820000,8.000000,74.000000,0.020760,0.070000
50%,-120.832000,9.200000,1.400000,14.000000,107.000000,0.073670,0.200000
75%,-116.068100,22.880000,2.400000,22.000000,155.000000,0.447000,0.590000
max,179.998000,697.360000,8.200000,365.000000,356.400000,64.498000,8.460000

# 4) Use nlargest to get the top 20 earthquakes by magnitude
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.nlargest.html

Examine the structure of the place column. The state / country information seems to be in there. How would you get it out?

In [23]:
top_earthquakes = df.nlargest(20, "mag")
top_earthquakes

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type
id,,,,,,,,,,,,,,
usc000nzvd,2014-04-01 23:46:47.260,-19.6097,-70.7691,25.00,8.2,mww,NaN,23.0,0.609,0.66,us,2015-07-30T16:24:51.223Z,"94km NW of Iquique, Chile",earthquake
usc000rki5,2014-06-23 20:53:09.700,51.8486,178.7352,109.00,7.9,mww,NaN,22.0,0.133,0.71,us,2015-04-18T21:54:08.699Z,"19km SE of Little Sitkin Island, Alaska",earthquake
usc000p27i,2014-04-03 02:43:13.110,-20.5709,-70.4931,22.40,7.7,mww,NaN,44.0,1.029,0.82,us,2015-06-06T07:31:05.755Z,"53km SW of Iquique, Chile",earthquake
usc000phx5,2014-04-12 20:14:39.300,-11.2701,162.1481,22.56,7.6,mww,NaN,13.0,2.828,0.71,us,2015-04-18T21:54:27.398Z,"93km SSE of Kirakira, Solomon Islands",earthquake
usb000pr89,2014-04-19 13:28:00.810,-6.7547,155.0241,43.37,7.5,mww,NaN,16.0,3.820,1.25,us,2015-04-18T21:54:18.633Z,"70km SW of Panguna, Papua New Guinea",earthquake
usc000piqj,2014-04-13 12:36:19.230,-11.4633,162.0511,39.00,7.4,mww,NaN,17.0,2.885,1.00,us,2015-08-13T19:29:13.018Z,"112km S of Kirakira, Solomon Islands",earthquake
usb000slwn,2014-10-14 03:51:34.460,12.5262,-88.1225,40.00,7.3,mww,NaN,18.0,1.078,0.70,us,2015-08-13T19:35:02.679Z,"74km S of Intipuca, El Salvador",earthquake
usb000pq41,2014-04-18 14:27:24.920,17.397000000000002,-100.9723,24.00,7.2,mww,NaN,46.0,2.250,1.20,us,2015-08-13T19:30:39.599Z,"33km ESE of Petatlan, Mexico",earthquake
usc000pft9,2014-04-11 07:07:23.130,-6.5858,155.0485,60.53,7.1,mww,NaN,21.0,3.729,0.88,us,2014-07-01T02:37:56.000Z,"56km WSW of Panguna, Papua New Guinea",earthquake
usc000sxh8,2014-11-15 02:31:41.720,1.8929,126.5217,45.00,7.1,mww,NaN,18.0,1.397,0.71,us,2015-03-20T18:42:02.735Z,"154km NW of Kota Ternate, Indonesia",earthquake
usc000stdc,2014-11-01 18:57:22.380,-19.6903,-177.7587,434.00,7.1,mww,NaN,13.0,4.415,0.84,us,2015-01-20T09:03:09.040Z,"144km NE of Ndoi Island, Fiji",earthquake
usb000sk6k,2014-10-09 02:14:31.440,-32.1082,-110.8112,16.54,7.0,mww,NaN,22.0,5.127,0.43,us,2015-08-13T19:31:44.129Z,Southern East Pacific Rise,earthquake
usc000mnvj,2014-02-12 09:19:49.060,35.9053,82.5864,10.00,6.9,mww,NaN,18.0,7.496,0.83,us,2015-01-30T23:03:45.902Z,"272km ESE of Hotan, China",earthquake
usc000nzwm,2014-04-01 23:57:58.790,-19.8927,-70.9455,28.42,6.9,mww,NaN,119.0,0.828,0.93,us,2014-05-29T23:32:13.000Z,"91km WNW of Iquique, Chile",earthquake
usb000r2hc,2014-05-24 09:25:02.440,40.2893,25.3889,6.43,6.9,mww,NaN,25.0,0.402,0.67,us,2015-01-28T09:17:17.266Z,"22km SSW of Kamariotissa, Greece",earthquake
usc000rngj,2014-06-29 07:52:55.170,-55.4703,-28.3669,8.00,6.9,mww,NaN,25.0,4.838,0.76,us,2014-09-26T11:49:45.000Z,"154km NNW of Visokoi Island,",earthquake
usc000rkg5,2014-06-23 19:19:15.940,-29.9772,-177.7247,20.00,6.9,mww,NaN,35.0,0.751,0.99,us,2014-09-19T17:23:16.000Z,"80km SSE of Raoul Island, New Zealand",earthquake
usb000ruzk,2014-07-21 14:54:41.000,-19.8015,-178.4001,615.42,6.9,mww,NaN,15.0,3.934,0.96,us,2014-10-17T21:12:13.000Z,"99km NNE of Ndoi Island, Fiji",earthquake
usc000rr6a,2014-07-07 11:23:54.780,14.724,-92.4614,53.00,6.9,mww,NaN,51.0,0.263,1.38,us,2015-01-28T13:08:13.282Z,"4km W of Puerto Madero, Mexico",earthquake
usb000rzki,2014-08-03 00:22:03.680,0.8295,146.1688,13.00,6.9,mww,NaN,12.0,6.393,0.93,us,2014-10-29T19:52:55.000Z,Federated States of Micronesia region,earthquake

In [38]:
df["country_state"] = df["place"].apply(lambda x: x.split(", ")[-1].strip())
df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type,country_state,country
id,,,,,,,,,,,,,,,,
ak11155107,2014-01-31 23:53:37.000,60.251999999999995,-152.708100,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake,Alaska,NaN
nn00436847,2014-01-31 23:48:35.452,37.0703,-115.130900,0.00,1.33,ml,4.0,171.43,0.342000,0.0247,nn,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake,Nevada,NaN
ak11151142,2014-01-31 23:47:24.000,64.6717,-149.252800,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake,Alaska,NaN
ak11151135,2014-01-31 23:30:54.000,63.1887,-148.957500,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake,Alaska,NaN
ci37171541,2014-01-31 23:30:52.210,32.616833299999996,-115.692500,10.59,1.34,ml,6.0,285.00,0.043210,0.2000,ci,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake,Mexico,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ak11453391,2014-12-01 00:10:16.000,60.9639,-146.762900,14.80,3.80,ml,NaN,NaN,NaN,0.6900,ak,2015-03-24T18:25:07.628Z,"29km SW of Valdez, Alaska",earthquake,Alaska,NaN
ak11453395,2014-12-01 00:09:39.000,58.8691,-154.415900,108.40,2.40,ml,NaN,NaN,NaN,0.6700,ak,2014-12-10T01:04:25.209Z,"102km SSE of Old Iliamna, Alaska",earthquake,Alaska,NaN
nc72358451,2014-12-01 00:09:25.350,38.8434982,-122.825836,2.37,0.43,md,8.0,107.00,0.008991,0.0300,nc,2014-12-01T01:15:02.814Z,"9km WNW of Cobb, California",earthquake,California,NaN
ak11453390,2014-12-01 00:05:54.000,65.1521,-148.992000,9.50,0.40,ml,NaN,NaN,NaN,0.6900,ak,2014-12-10T01:03:01.225Z,"57km NW of Ester, Alaska",earthquake,Alaska,NaN
ak11453389,2014-12-01 00:04:05.000,60.2272,-147.024500,2.50,1.60,ml,NaN,NaN,NaN,0.7300,ak,2014-12-09T02:04:46.894Z,"78km WSW of Cordova, Alaska",earthquake,Alaska,NaN

In [34]:
top_earthquakes = df.nlargest(20, "mag")
top_earthquakes

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type,country_state
id,,,,,,,,,,,,,,,
usc000nzvd,2014-04-01 23:46:47.260,-19.6097,-70.7691,25.00,8.2,mww,NaN,23.0,0.609,0.66,us,2015-07-30T16:24:51.223Z,"94km NW of Iquique, Chile",earthquake,Nevada
usc000rki5,2014-06-23 20:53:09.700,51.8486,178.7352,109.00,7.9,mww,NaN,22.0,0.133,0.71,us,2015-04-18T21:54:08.699Z,"19km SE of Little Sitkin Island, Alaska",earthquake,Nevada
usc000p27i,2014-04-03 02:43:13.110,-20.5709,-70.4931,22.40,7.7,mww,NaN,44.0,1.029,0.82,us,2015-06-06T07:31:05.755Z,"53km SW of Iquique, Chile",earthquake,Nevada
usc000phx5,2014-04-12 20:14:39.300,-11.2701,162.1481,22.56,7.6,mww,NaN,13.0,2.828,0.71,us,2015-04-18T21:54:27.398Z,"93km SSE of Kirakira, Solomon Islands",earthquake,Nevada
usb000pr89,2014-04-19 13:28:00.810,-6.7547,155.0241,43.37,7.5,mww,NaN,16.0,3.820,1.25,us,2015-04-18T21:54:18.633Z,"70km SW of Panguna, Papua New Guinea",earthquake,Nevada
usc000piqj,2014-04-13 12:36:19.230,-11.4633,162.0511,39.00,7.4,mww,NaN,17.0,2.885,1.00,us,2015-08-13T19:29:13.018Z,"112km S of Kirakira, Solomon Islands",earthquake,Nevada
usb000slwn,2014-10-14 03:51:34.460,12.5262,-88.1225,40.00,7.3,mww,NaN,18.0,1.078,0.70,us,2015-08-13T19:35:02.679Z,"74km S of Intipuca, El Salvador",earthquake,Nevada
usb000pq41,2014-04-18 14:27:24.920,17.397000000000002,-100.9723,24.00,7.2,mww,NaN,46.0,2.250,1.20,us,2015-08-13T19:30:39.599Z,"33km ESE of Petatlan, Mexico",earthquake,Nevada
usc000pft9,2014-04-11 07:07:23.130,-6.5858,155.0485,60.53,7.1,mww,NaN,21.0,3.729,0.88,us,2014-07-01T02:37:56.000Z,"56km WSW of Panguna, Papua New Guinea",earthquake,Nevada
usc000sxh8,2014-11-15 02:31:41.720,1.8929,126.5217,45.00,7.1,mww,NaN,18.0,1.397,0.71,us,2015-03-20T18:42:02.735Z,"154km NW of Kota Ternate, Indonesia",earthquake,Nevada
usc000stdc,2014-11-01 18:57:22.380,-19.6903,-177.7587,434.00,7.1,mww,NaN,13.0,4.415,0.84,us,2015-01-20T09:03:09.040Z,"144km NE of Ndoi Island, Fiji",earthquake,Nevada
usb000sk6k,2014-10-09 02:14:31.440,-32.1082,-110.8112,16.54,7.0,mww,NaN,22.0,5.127,0.43,us,2015-08-13T19:31:44.129Z,Southern East Pacific Rise,earthquake,Nevada
usc000mnvj,2014-02-12 09:19:49.060,35.9053,82.5864,10.00,6.9,mww,NaN,18.0,7.496,0.83,us,2015-01-30T23:03:45.902Z,"272km ESE of Hotan, China",earthquake,Nevada
usc000nzwm,2014-04-01 23:57:58.790,-19.8927,-70.9455,28.42,6.9,mww,NaN,119.0,0.828,0.93,us,2014-05-29T23:32:13.000Z,"91km WNW of Iquique, Chile",earthquake,Nevada
usb000r2hc,2014-05-24 09:25:02.440,40.2893,25.3889,6.43,6.9,mww,NaN,25.0,0.402,0.67,us,2015-01-28T09:17:17.266Z,"22km SSW of Kamariotissa, Greece",earthquake,Nevada
usc000rngj,2014-06-29 07:52:55.170,-55.4703,-28.3669,8.00,6.9,mww,NaN,25.0,4.838,0.76,us,2014-09-26T11:49:45.000Z,"154km NNW of Visokoi Island,",earthquake,Nevada
usc000rkg5,2014-06-23 19:19:15.940,-29.9772,-177.7247,20.00,6.9,mww,NaN,35.0,0.751,0.99,us,2014-09-19T17:23:16.000Z,"80km SSE of Raoul Island, New Zealand",earthquake,Nevada
usb000ruzk,2014-07-21 14:54:41.000,-19.8015,-178.4001,615.42,6.9,mww,NaN,15.0,3.934,0.96,us,2014-10-17T21:12:13.000Z,"99km NNE of Ndoi Island, Fiji",earthquake,Nevada
usc000rr6a,2014-07-07 11:23:54.780,14.724,-92.4614,53.00,6.9,mww,NaN,51.0,0.263,1.38,us,2015-01-28T13:08:13.282Z,"4km W of Puerto Madero, Mexico",earthquake,Nevada
usb000rzki,2014-08-03 00:22:03.680,0.8295,146.1688,13.00,6.9,mww,NaN,12.0,6.393,0.93,us,2014-10-29T19:52:55.000Z,Federated States of Micronesia region,earthquake,Nevada